* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: grey;
  font-family: monospace;
}
.book-list {
  margin: 80px 130px 0 130px;
  width: 80vw;
  display: flex;
  justify-content: space-around;
  /* border: green solid 2px; */
}
.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  /* border: red solid 2px; */
  /* margin-right: 50px; */
  padding: 30px 10px 20px;
  background-color: white;
  border-radius: 5px;
}
.book img {
  width: 200px;
}
.book h2 {
  color: #002;
  font-size: 20px;
  text-align: center;
  margin: 10px 5px;
}
.book p {
  font-weight: 700;
  color: steelblue;
}
